h1{
	background-color: black;
	font-style: verdana;
	color: white;
	text-align: center;
}
table, th, tr, td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;

}
form, input{
	padding: 15px;

}
.form-text{
	height: 10px !important;}