#bigWrapper{
	position: center;
	border: 1px solid black;
	width: 1000px;
	
}
#section{
	float:left;
	padding:15px;
	width: 300px;
	margin: 20px;
	background: green;
}
#aside{
	float:left;
	padding:15px;
	width: 300px;
	margin:20px;
	background:purple;
}
footer {
	clear:both;
	text-align: right;
	float:bottom;
}
header{
	background:black;
	color:white;
	text-align: center;
	font: 24px Tahoma;
}